In [1]:
import pandas as pd

In [2]:
import configparser

config = configparser.RawConfigParser()
config.read('parametros.config')
PARAMETROS_GERAIS = dict(config.items('Geral'))

In [3]:
ARQUIVO_TODAS_DEMONSTRACOES = PARAMETROS_GERAIS['pasta_raiz_dados']+PARAMETROS_GERAIS['arquivo_final_todas_demonstracoes']

In [4]:
df_porte = pd.read_csv("../entrada/porte_operadoras.csv",encoding="ISO-8859-1")

In [5]:
len(df_porte)

11700

In [6]:
df_demonstracoes = pd.read_csv(ARQUIVO_TODAS_DEMONSTRACOES,encoding="ISO-8859-1")

In [7]:
len(df_demonstracoes)

7500

In [8]:
df_porte.head()

   Registro_ANS   ano  trimestre beneficiarios        porte
0        300136  2011          1           NaN          NaN
1        300136  2011          2        23.133  Médio Porte
2        300136  2011          3        24.097  Médio Porte
3        300136  2011          4        25.344  Médio Porte
4        300136  2012          1        26.469  Médio Porte

In [9]:
df_temp = df_demonstracoes.merge(df_porte,left_on=['REG_ANS','ANO','TRIMESTRE'],
                                right_on=['Registro_ANS','ano','trimestre'],
                                  how="left",copy=False)

In [10]:
df_temp.drop(columns=['Registro_ANS','ano','trimestre'],inplace=True)

In [11]:
df_temp.to_csv(ARQUIVO_TODAS_DEMONSTRACOES,index=False, encoding="ISO-8859-1")
print("Arquivo final gerado em: ",ARQUIVO_TODAS_DEMONSTRACOES)

Arquivo final gerado em:  /opt/DADOS_ANS5/todas_demonstracoes_concatenadas.csv
Cópia do Arquivo final gerado em: ../Datasets